/* FOOTER */

footer {
  /* width: 100%; */
  height: 10vw;
  background-color: #001d3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 80px;
  /* padding-right: 80px;
  padding-left: 80px; */
}

footer > .top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

footer > .top > img {
  height: 48px;
  width: 48px;
}

footer > .top > div {
  font-size: 24px;
  font-weight: 900;
  color: #ffd60a;
  margin-left: 20px;
}

footer > .bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#social-media img {
  height: 24px;
  margin-right: 16px;
}

#social-media a:hover {
  opacity: 0.8;
}

#copyright {
  color: #f4f3ee;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  footer {
    height: auto;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 100px;
  }

  footer > .top {
    flex-direction: column;
    align-items: center;
  }

  footer > .top > div {
    margin-top: 8px;
    margin-left: 0;
  }

  footer > .bottom {
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #social-media img {
    margin-right: 20px;
  }

  #social-media a:last-child img {
    margin-right: 0;
  }

  #copyright {
    margin-top: 60px;
    font-size: 12px;
  }
}
