/* FIRST SECTION / INTRODUCTION */

#first-section {
  height: 56.5vw;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bg-img1 {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: hsla(211, 100%, 12%, 0.4);
  z-index: -1;
  position: absolute;
}

#first-section h1 {
  font-size: 100px;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#first-section .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#first-section h1 span {
  color: #ffd60a;
}

#first-section p {
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  /* letter-spacing: 1px; */
  color: white;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#pre-reg-btn2 {
  background-color: #ffd60a;
  color: #001d3d;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#pre-reg-btn2:hover {
  background-color: #ffe460;
  cursor: pointer;
}

/* SECOND SECTION / AGENTS */

#second-section {
  height: 56.5vw;
  width: 100%;
  background-color: #f4f3ee;
  position: relative;
}

#bg-img2 {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}

#second-section > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

#second-section > .content > .left {
  height: 100%;
  width: 60%;
  position: relative;
}

#second-section > .content > .left > img {
  position: absolute;
  height: 100%;
}

#text-div-agents {
  height: 100%;
  margin-left: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#text-div-agents > h2 {
  font-size: 72px;
  color: #001d3d;
  font-weight: 900;
  line-height: 72px;
}

#text-div-agents > h2 > span {
  color: #ffd60a;
}

#text-div-agents > p {
  width: 70%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 20px;
}

#agents-btn {
  background-color: #ffd60a;
  color: #001d3d;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

#agents-btn:hover {
  background-color: #ffe460;
  cursor: pointer;
}

#second-section > .content > .right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

#second-section > .content > .right > img {
  margin-right: auto;
  margin-left: auto;
  height: 70%;
  transform: translateY(5%);
}

/* THIRD SECTION / MAPS */
#third-section {
  height: 56.5vw;
  width: 100%;
  position: relative;
}

#bg-img3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#third-section > .content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#third-section > .content > .right {
  height: 100%;
  width: 40%;
  background-color: hsla(211, 100%, 12%, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#third-section > .content > .right > h2 {
  width: 80%;
  margin-right: 80px;
  margin-left: auto;
  font-size: 72px;
  color: #ffffff;
  font-weight: 900;
  line-height: 72px;
}

#third-section > .content > .right > h2 > span {
  color: #ffd60a;
}

#third-section > .content > .right > p {
  width: 80%;
  margin-right: 80px;
  margin-left: auto;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 20px;
}

#btn-container {
  width: 80%;
  margin-right: 80px;
  margin-left: auto;
}

#maps-btn {
  background-color: #ffd60a;
  color: #001d3d;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

#maps-btn:hover {
  background-color: #ffe460;
  cursor: pointer;
  margin-left: auto;
}

@media only screen and (max-width: 800px) {
  #first-section {
    padding-top: 80px;
    height: 60vh;
  }

  #first-section h1 {
    font-size: 40px;
  }

  #first-section p {
    width: 70%;
  }

  #pre-reg-btn2 {
    width: 180px;
    height: 50px;
  }

  #second-section {
    height: 100vh;
    align-items: flex-end;
    overflow: hidden;
  }

  #bg-img2 {
    background-image: url(../images/agent-homepage.png);
    height: 60%;
    top: 60px;
    right: -100px;
    opacity: 0.8;
  }

  #second-section > .content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  #second-section > .content > .left {
    width: 100%;
    height: 100%;
  }

  #second-section > .content > .left > img {
    display: none;
  }

  #text-div-agents {
    position: relative;
    margin-left: 0;
    justify-content: flex-end;
    align-items: center;
  }

  #text-div-agents > h2 {
    left: 40px;
    top: 40px;
    position: absolute;
    font-size: 40px;
    width: 80%;
    text-align: left;
    line-height: 45px;
  }

  #text-div-agents p {
    margin: 0 0 20px 0;
    padding: 20px 20px 90px 20px;
    width: 75%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 5px, 0.4);
  }

  #second-section > .content > .right {
    display: none;
  }

  #agents-btn {
    position: absolute;
    bottom: 40px;
  }

  #third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
  }

  #bg-img3 {
    position: relative;
    height: 40%;
    min-height: 240px;
  }

  #third-section > .content {
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #third-section > .content > .right {
    width: 100%;
    background-color: #f4f3ee;
    justify-content: flex-start;
  }

  #third-section > .content > .right > h2 {
    margin: 40px 0 40px 40px;
    font-size: 40px;
    line-height: 45px;
    color: #001d3d;
  }

  #third-section > .content > .right > p {
    margin: 0 40px 20px 40px;
    color: black;
  }

  #btn-container {
    width: auto;
    display: block;
    margin: 0 0 40px 40px;
  }
}
